<div class='row'>
  <div class='col-md-8'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Stories</h3>
      </div>
      <div class="panel-body">
        <%= will_paginate @stories %>
      </div>
      <ul class="list-group">
        <%= render @stories %>
      </ul>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Most Tagged</h3>
      </div>
      <ul class="list-group">
        <% @most_tagged.each do |tag| %>
          <% cache ['tag', tag.try(:name)], skip_digest: true do %>
            <li class='list-group-item'><%= "#{tag.try(:name).try(:titleize)} (#{tag.taggings_count})" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
